.login-page {
  align-items: center;
  background: url('../../images/young-man-woman-listening-music-headphones.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 0 8em;
}

.login-page h1 {
  font-family: 'Lobster', cursive;
}

@media screen and (max-width: 1000px) {
  .login-page {
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 1000px) and (min-height: 1000px) {
  .login-page {
    background: url('../../images/young-man-woman-listening-music-headphones-SMALLER.jpg') no-repeat center fixed;
    background-size: cover;
  }
}