header {
  align-items: center;
  background-color: #cdbe78;
  border-bottom: 1px groove #fff;
  box-shadow: #858383 0 2px 15px;
  color: #fff;
  display: flex;
  font-family: 'Cinzel';
  justify-content: space-between;
  margin-bottom: 3vh;
  padding: 0 1vw;
}

nav {
  align-items: center;
  display: flex;
  justify-items: center;
}

.mytunes-title {
  font-size: 20pt;
  margin: 0;
}

.search-link,
.favorites-link {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 6vh;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.5s;
}

.search-link:hover,
.favorites-link:hover {
  background-color: rgb(6, 100, 101, 0.6);
  border-radius: 0 0 1px 1px;
  box-shadow: #a2a2a2 0 1px 1px;
  transition: 0.7s;
}

.logout-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .search-link,
  .favorites-link {
    height: 7vh;
  }
}

@media screen and (min-width: 410px) and (max-width: 915px) {
  .search-link,
  .favorites-link {
    font-size: 1.2rem;
  }
}
