.search-page {
  background: url('../../images/cute-girl-white-pink-headphones-actively-dancing-pink-wall-moving-long-hair.jpg') no-repeat center center fixed;
  flex-direction: column;
  min-height: 100vh;
}

.full-screen {
  height: 100vh;
}

.album-library {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.search-result {
  margin-bottom: 1em;
}

.album-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
}

@media screen and (max-width: 1000px) and (min-height: 1000px) {
  .search-page {
    background: url('../../images/cute-girl-white-pink-headphones-actively-dancing-pink-wall-moving-long-hair-SMALLER.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
